<mat-toolbar>
  <mat-icon color='primary' [routerLink]="['']">home</mat-icon>
  <mat-icon color='primary' (click)='openDialog()'>search</mat-icon>
  <mat-icon color='primary'>favorite</mat-icon>
  <mat-icon color='primary'>face</mat-icon>
</mat-toolbar>
