<!--<div class="bubble">
  <div class="bubble-content">
    <h2>Hurricane 2019</h2>
    <p>21-23.06. | ab 180€ | Rock, Indie, Electro | Scheeßel</p>

  </div>
  <img class="bubble-pic" src="http://www.hurricane.de/media/hurricane/relaunch-2019/website_vorschau_hu2019.jpg">
</div>
-->

<mat-card color='accent' >
  <img class="bubble-pic" src="http://www.hurricane.de/media/hurricane/relaunch-2019/website_vorschau_hu2019.jpg">
  <mat-card-title color='primary'>{{ festivalName }} Hurricane</mat-card-title>
  <mat-card-content>21-23.06. | ab 180€ | Rock, Indie, Electro | Scheeßel</mat-card-content>
  <mat-icon color="accent" (click)="like()" [ngClass]="{'active': isActive}">favorite</mat-icon>
  <mat-icon color="accent" [routerLink]="['/festival-microsite']">open_in_new</mat-icon>
</mat-card>
