$white: white;
$bg-color: #ffb700;
.bubble {
	position: relative;
	background-color: $white;
	height: 120px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 25px;
  margin: 15px;
}
.bubble-content {
	position: absolute;
  margin-left: 120px;
}
.bubble-pic {
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 15px;
	clip-path: rectangle(5.625rem);
}
p {font-size: 12px}
h2 {margin: 13px 0 0;}

mat-card {
  height: 90px;
  background-color: white;

  &-title {margin-left: 120px;}
  &-content {margin-left: 120px; color: black;}
}
mat-icon {float: right; font-size: 32px; margin-top: -15px; padding-left: 5px;}
