mat-form-field {
  width: 100%;
  color: black !important;
  color: black !important;
  border-color: black !important;
  border-radius: 25px !important;
}
mat-slider {
  margin: 30px 0 0;
  width: 100%;
}
mat-chip {
  margin: 3.75px !important;

}

mat-card {margin: 0 !important; padding: 0 !important;}
.search-button {
  text-align: center;
}
