<mat-card>
  <form>
    <mat-form-field appearance='outline' color='primary'>
      <mat-label>Suche</mat-label>
        <input matInput placeholder='Suche'>
    </mat-form-field>
  </form>

  <mat-chip-list>
    <mat-chip color='accent'>Bands</mat-chip>
    <mat-chip color='accent'>Genre</mat-chip>
    <mat-chip color='accent'>Länge</mat-chip>
    <mat-chip color='accent'>Ort</mat-chip>
  </mat-chip-list>
  <mat-slider min='0' max='999' step='5' thumbLabel color='primary'></mat-slider>
  <div class='search-button'>
  <button mat-flat-button (click)=closeDialog() color='primary'>Suche</button>
  </div>
</mat-card>
