
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '/style-palette';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$festival-app-primary: mat-palette($mat-custom-primary);
$festival-app-accent: mat-palette($mat-custom-accent);

// The warn palette is optional (defaults to red).
$festival-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$festival-app-theme: mat-light-theme($festival-app-primary, $festival-app-accent, $festival-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($festival-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; background-color: #ededed; }
h1, h2, h3 {color: #ffb700; letter-spacing: .125rem; font-weight: 700;}
mat-card {margin: 15px 15px 0; border-radius: 25px !important; padding: 15px; box-shadow: none !important; background-color: white !important; color: black !important;}
mat-card-title {color: #ffb700; letter-spacing: .125rem; font-weight: 700 !important; font-size: 20px !important;}
mat-icon {width: 32px !important; height: 32px !important;}
mat-dialog-container {border-radius: 25px !important; padding: 15px !important;}

