$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(black, 0.7);
$light-disabled-text: rgba(black, 0.5);
$light-dividers: rgba(black, 0.12);
$light-focused: rgba(black, 0.12);

/* For use in _color-definitions.scss */
$mat-custom-primary: (
  50 : #fff6e0,
    100 : #ffe9b3,
    200 : #ffdb80,
    300 : #ffcd4d,
    400 : #ffc226,
    500 : #ffb700,
    600 : #ffb000,
    700 : #ffa700,
    800 : #ff9f00,
    900 : #ff9000,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe0bf,
    A700 : #ffd4a6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-custom-accent: (
  50 : #fdfdfd,
  100 : #fafafa,
  200 : #f6f6f6,
  300 : #f2f2f2,
  400 : #f0f0f0,
  500 : #ededed,
  600 : #ebebeb,
  700 : #e8e8e8,
  800 : #e5e5e5,
  900 : #e0e0e0,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
